.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  .left {
    display: flex;
    align-items: center;
    .back {
      cursor: pointer;
    }
    .author {
      display: flex;
      align-items: center;
      margin-left: 32px;
      .name {
        margin-left: 12px;
        font-size: 20px;
      }
    }
  }
}