@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.container {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  .editor {
    max-width: 600px;
    margin: 0 auto;
    .emptyH1:not(:focus):before {
      content: attr(data-placeholder);
      opacity: .3;
    }
    h1 {
      margin-top: 25px;
      margin-bottom: 16px;
      font-size: 38px;
      outline: none;
      &:empty:not(:focus):before {
        content: attr(data-placeholder);
        opacity: .3;
      }
    }
    article {
      outline: none;
      &:not(:focus) {
        .emptySpan:before {
          content: attr(data-placeholder);
          opacity: .3;
        }
      }
      p {
        line-height: 1.56;
        margin-top: 6px;
        margin-bottom: 20px;
      }
    }
  }
}