@import 'styles/constants.scss';

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .postsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: bold;
    }
    .posts {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 928px;
      .card {
        cursor: pointer;
        width: 216px;
        height: 270px;
        border-radius: 10px;
        background: rgb(41, 41, 41);
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 8px;
        padding: 10px;
        overflow: hidden;
        transition: box-shadow 300ms;
        &:hover {
          box-shadow: 0 0 16px rgba(255, 255, 255, .12);
        }
        .top {
          display: flex;
          justify-content: space-between;
          .date, .delete {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(41, 41, 41, .7);
            padding: 3px;
            border-radius: 5px;
          }
          .date {
            padding: 3px 5px;
          }
        }
        h4 {
          font-size: 20px;
          max-height: 88px;
          line-height: 1.2;
        }
      }
      .newPost {
        text-shadow: rgba($white, .3) 1px 0px 30px;
        justify-content: center;
        align-items: center;
        font-size: 160px;
        font-weight: 100;
        transition: text-shadow 300ms, box-shadow 500ms;
        &:hover {
          text-shadow: rgba($white, .3) 1px 0px 250px;
        }
      }
    }
  }
}