.container {
  margin: 0 auto;
  max-width: 1062px;
  .content {
    font-size: 18px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & * {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
    .item {
      display: flex;
      align-items: center;
      img {
        height: 23px;
        margin-right: 5px;
      }
    }
  }
}